/* Type */

body {
	background-color: pink;
	color: black;
	line-height: 1.5;
    font-size: 1.5em;
   font-family: 'Raleway', sans-serif;
    font-weight: 150
}
.color-yellow {
	color: yellow;
	font-weight:250
}
.other-font {
	font-family: 'Lemonada', cursive;
}
.high-light { 
	text-decoration: underline; 
	font-weight:300
 }
 .hight-light-align {
 	text-align: center;
 	font-weight: 400
 }